* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
}
.qr-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%-50%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px 16px 40px;
  flex-direction: row;
  height: 499px;
  width: 320px;
  transition: 0.8s ease;
}
.qr-container * {
  margin-bottom: 16px;
}
.qr-container img {
  border-radius: 20px;
  margin-bottom: 24px;
  width: 100%;
}
.qr-container p {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: hsl(216, 15%, 48%);
}
.qr-container .card-title {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 800;
  color: hsl(218, 44%, 22%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: fixed;
  bottom: 10px;
  justify-self: center;
  opacity: 0;
}

@media (min-width: 376px) {
  .qr-container {
    max-height: 499px;
    max-width: 320px;
  }
  footer {
    background-color: white;
    padding: 4px 16px;
    transition: 0.8 ease;
    border-radius: 20px;
    opacity: 0.3;
  }
  footer:hover {
    opacity: 1;
  }
}

@media (max-height: 376px) {
  footer {
    opacity: 0;
  }
}
