* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
}
.qr-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%-50%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  padding: 16px 16px;
  flex-direction: row;
  box-shadow: 0 17px 20px rgb(188, 200, 214, 0.7);
  width: 300px;
  transition: 0.8s ease;
}
.qr-container * {
  margin-bottom: 16px;
}
.qr-container img {
  border-radius: 12px;
  width: 100%;
}
.qr-container p {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 100%;
  font-weight: 400;
  padding: 0 4%;
  color: hsl(216, 15%, 48%);
}
.qr-container .card-title {
  font-size: 133%;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: fixed;
  bottom: 30px;
  justify-self: center;
  opacity: 0;
}

@media (min-width: 376px) {
  .qr-container {
    max-height: 400px;
    max-width: 220px;
    padding: 10px;
  }
  .qr-container img {
    border-radius: 8px;
  }
  .qr-container p {
    font-size: 11px;
    font-weight: 400;
  }
  .qr-container .card-title {
    font-size: 15px;
  }
  footer {
    opacity: 1;
  }
}

@media (max-height: 376px) {
  footer {
    opacity: 0;
  }
}
